body {
  background-color: #212121;
}

.container {
  width: 350px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  color: #8E8E8E;
}

.textbox {
  width: 100%;
  font-size: 12px;

  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 10px 5px;
  padding: 3px;
}

.bookmark {
  display: flex;
  align-items: center;
  border-bottom: 1px gray solid;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.bookmark-title {
  font-size: 18px;
  padding-left: 2px;
  color: white;
}

.bookmark-controls img {
  margin: 0 4px;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  cursor: pointer;
}

.bookmark-controls {
  flex: auto;
  text-align: right;
}

.bookmark-btn img {
  width: 20px;
  height: 20px;
}